body {
	font-family: "Arial", Helvetica, sans-serif; 
	font-size: 1em;
}

.navbar {
	list-style-type: none;
    background-color: #333;
    position: fixed; 
    top: 0; 
	-webkit-backface-visibility: hidden;
    width: 100%; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -8px;
	padding: 0;
	display: block;
	z-index: 5;
}

li {
    float: left;
}

li a, .dropbtn, .newlist, .dellist{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

li a{
	border-right: 1px solid #ddd;
}

#Kontakt{
	
	border-left: 1px solid #ddd;
}

.navbar li:hover:not(.icon){
    background: #ddd;
    color: black;
}
.navbar li *:hover, .navbar li span:hover{
	color: black;
}

.navbar a:hover{
	cursor: context-menu;
}

#filteranswers{
	cursor: pointer;
	margin: 1px 3px;
}

.filters{
	display: block;
	cursor: pointer;
}

#searchfield{
	background-color: white;
}

.navbar .dropbtn:hover, .navbar .newlist:hover {
	cursor: context-menu;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content input {
    color: black;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
    text-align: left;
	font-size: 13px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.IE {
   display: none;
}

.main {
	display: block;
    margin-top: 20px;
	margin-bottom: -16px;
} 


#bildinfo{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
	bottom: 19px;
	font-size: 13px;
	background-color: hsla(0, 0%, 100%, 0.45);
	padding-bottom: 1px;
	padding-top: 1px;
	border: 1px solid;
	border-color: grey;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	display: none;	
}

#bild {
	display: none;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

#bild:hover {
	cursor: pointer;
}

#loadsymbol{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#number, #erfolg{
	position: fixed; /*fixed*/
	font-size: 10px;
	top: 97vh;
	background-color: hsla(0, 0%, 100%, 0.5);
	padding: 2px;
	cursor: context-menu;
}
#number{right: 2px;}
#erfolg{left: 2px;}
#erfolg p {
	padding: 0px;
	margin: 0px;
}

table{
	display: block;
}
thead{
	display: block;
	position: sticky;
	top:22px;
	text-align: center;
	width: 4555px;
	background-color:white;
	border-bottom: 2px solid #a6a6a6;
	margin: 0px 0px;
	padding: 0px;
	z-index: 2;
}
th { 
	border: 1px solid #ddd;
	width: 144px;
}

th:hover{
	cursor: pointer; /*n-resize*/
}

.thnormal{width: 144px; border: 1px solid #ddd;}

.thbutton{width:29px; border: none; padding: 1px;}
@supports (-moz-appearance:none) {
    .thbutton { width: 28px;} 
}

.thid{width: 38px;}
.thart{width: 326px;}
.thgruppe{font-size: 80%;}
.thbildtext{width:925px;}
.thmerkmale{width:925px;}
.thlink{width:925px;}

tbody, thead tr {
	display: block;
	table-layout: fixed;
}

.tiertable td{
	position: absolute;
	margin: 0px 0px;
	padding: 0px;
	width: 144px;
}

td.num{
	width: 38px;
	left: 43px;
}

td.num input{
	cursor: context-menu;
}

td.Art{
	width: 326px;
	left: 87px;
}

td.Gattung{left: 419px;}
td.Unterfamilie{left: 569px;}
td.Familie{left: 719px;}
td.Unterordnung{left: 869px;}
td.Ordnung{left: 1019px;}
td.Klasse{left: 1169px;}
td.Stamm{left: 1319px;}
td.Gruppe{left: 1469px;}
td.BildLink {left: 1619px;}
td.BildInfo{left: 1769px;}

td.BildInfo, td.Merkmale, td.Link{
	width: 925px;
}
td.Merkmale{left:2700px;}
td.Link{left:3631px;}

td input{
	display: inline-block;
	width: 100%;
	height: 18px;
	margin: 0;
	padding: 0;
}

td input.num{	text-align: center;}

.tiertable tr:not(.headtrace){
	display: table-row;
	height: 23px;
}

button, .fileinput{
	background-color: #f2f2f2;
	border: 1px solid #333;
	border-radius: 2px;
}

button:hover {
	background-color: 	#bfbfbf;
}

.dabuttons {
	display:block;
	width: 27px;
	height: 11px;
	padding-left: 8px;
	padding-right: 8px;
	background-repeat: no-repeat;
	background-position: center; 
}

#delbutton {
	background-image: url("graphics/del_button.svg");
}
#addbutton {
	background-image: url("graphics/add_button.svg");
}

#popup{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

#popup-content{
	background-color: #fefefe;
    margin: 5% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 55%; /* Could be more or less, depending on screen size */
}

.close {
    position: relative;
	right: 7px;
    float: right;
    top: 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.antworttext{
	margin-top: 15px;
	margin-bottom: 5px;
	border-collapse:collapse;
	padding: 0px 4px;
}


.antworttext td{
	vertical-align: top;
	padding: 5px 0px;
}

.close:hover,
.close:focus {
    color: #bfbfbf;
    cursor: pointer;
}

.rof {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.rofbutton{
	margin: 5px;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 31px;
    height: 3px;
    background-color: #f2f2f2;
	margin: 4px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
    transform: rotate(-45deg) translate(-5px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-5px, -5px) ;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 990px) {
	

	.navbar li:not(.show){display: none;}
  
  .navbar li.icon {
    display: block;
	padding-top: 3px;
	padding-bottom: 3px;
  }
  
  .navbar li:not(.icon){
	padding-top: 7px;
	padding-bottom: 7px;
  }
  
  .navbar *{
	border: 0px;
  }
  
	#Submit, #Kontakt{
	
		border-left: 0px;
	}
	
	.main{
		margin-top:34px;
	}
  
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 990px) {
  
	#popup-content{
		margin: 3% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
		width: 95%; /* Could be more or less, depending on screen size */
	}
  
  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  
  .navbar.responsive a {
	display: block;
	text-align:left;
  }
  
  .navbar.responsive li:first-child, .navbar.responsive li:nth-child(2){
	border-bottom: 1px solid #ddd;
  }
  
  .navbar.responsive li:last-child{
	border-top: 1px solid #ddd;
  }
  
} 

.about {
	margin-top: 40px;
}

.about h4 {
	margin-bottom: 5px;
	margin-left: 10px;
}

.about p {
	margin: 10px
}

.mini {
	position: fixed;
	bottom: 10px;
	font-size: 0.9em;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .IE {
       display: block;
	   margin-top: 30px;
	   font-size: 1.5em;
   }
   .main {
		display: none;
   }
}