body {
	font-family: "Arial", Helvetica, sans-serif; 
	font-size: 1em;
}

.navbar {
	list-style-type: none;
    background-color: #333;
    position: fixed; 
    top: 0; 
	-webkit-backface-visibility: hidden;
    width: 100%; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -8px;
	padding: 0;
	display: block;
	z-index: 5;
}

.navbar li {
    float: left;
}

.navbar li a, .dropbtn, .newlist, .dellist{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

.navbar li a{
	border-right: 1px solid #ddd;
}

#Help{
	border-left: 1px solid #ddd;
}

.navbar li:hover:not(.icon){
    background: #ddd;
    color: black;
}
.navbar li *:hover, .navbar li span:hover{
	color: black;
}

.navbar a:hover{
	cursor: context-menu;
}

#filteranswers{
	cursor: pointer;
	margin: 1px 3px;
	max-height: 60vh;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: auto;
	direction: rtl;
}

#filteranswers li {
	direction: ltr;
}

.filters{
	display: block;
	cursor: pointer;
}

#searchfield{
	background-color: white;
}

.navbar .dropbtn:hover, .navbar .newlist:hover {
	cursor: context-menu;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    z-index: 1;
	border-radius: 0 0 3px 3px;
	border: 1px solid #333;
	border-top: none;
}

.dropdown-content input {
	border:none
}

#thedropdownContent{
	padding:2px;
}

.dropdown-content p {
	margin: 1em 5px;
}
	
.dropdown-content input {
    color: black;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
    text-align: left;
	font-size: 13px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content, .dropdown-content:focus-within{
    display: block;
}

.IE {
   display: none;
}

.main {
	display: block;
    margin-top: 20px;
	margin-bottom: -16px;
} 


#bildinfo{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
	bottom: 19px;
	font-size: 13px;
	background-color: hsla(0, 0%, 100%, 0.45);
	padding-bottom: 1px;
	padding-top: 1px;
	border: 1px solid;
	border-color: grey;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	display: none;	
}

#bild {
	display: none;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

#bild:hover {
	cursor: pointer;
}

#loadsymbol{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#number, #erfolg{
	position: fixed; /*fixed*/
	font-size: 10px;
	top: 97vh;
	background-color: hsla(0, 0%, 100%, 0.5);
	padding: 2px;
	cursor: context-menu;
}
#number{right: 2px;}
#erfolg{left: 2px;}
#erfolg p {
	padding: 0px;
	margin: 0px;
}

table .tiertable{
	display: block;
}
.tiertable thead{
	display: block;
	position: sticky;
	top:22px;
	text-align: center;
	width: 5633px;
	background-color:white;
	border-bottom: 2px solid #a6a6a6;
	margin: 0px 0px;
	padding: 0px;
	z-index: 2;
}
th { 
	border: 1px solid #ddd;
	cursor: pointer;
}

th, .tiertable td{width: 110px;}

.thbutton{width:29px; border: none; padding: 1px;}
@supports (-moz-appearance:none) {
    .thbutton { width: 28px;} 
}

.num{width: 38px;}
.Name{width: 200px}
.BildInfo, .Merkmale, .Info{width:500px;}

.thsmalltext{font-size: 80%;}

.tiertable tbody, .tiertable thead tr {
	display: block;
	table-layout: fixed;
}

.tiertable td{
	position: absolute;
	margin: 0px 0px;
	padding: 0px;
}

td.num input{
	cursor: context-menu;
}

td.num{left: 45px;}
td.Name{left: 89px;}
td.Gattung{left: 295px;}
td.Art{left: 411px;}
td.Gruppe{left: 527px;}
td.BildLink {left: 643px;}
td.BildInfo{left: 759px;}
td.Merkmale{left:1265px;}
td.Info{left:1771px;}
td.Link{left:2277px;}
td.Unterart{left:2393px;}
td.Unterserie{left:2509px;}
td.Serie{left:2625px;}
td.Untersektion{left:2741px;}
td.Sektion{left:2857px;}
td.Untergattung{left:2973px;}
td.Subtribus{left:3089px;}
td.Tribus{left:3205px;}
td.Unterfamilie{left: 3321px;}
td.Familie{left: 3437px;}
td.Überfamilie{left: 3553px;}
td.Teilordnung{left: 3669px;}
td.Unterordnung{left: 3785px;}
td.Ordnung{left: 3901px;}
td.Überordnung{left:4017px;}
td.Teilklasse{left:4133px;}
td.Unterklasse{left:4249px;}
td.Klasse{left: 4365px;}
td.Reihe{left:4481px;}
td.Überklasse{left:4597px;}
td.Unterstamm{left:4713px;}
td.Stamm{left: 4829px;}
td.Überstamm{left:4945px;}
td.Stammgruppe{left:5061px;}
td.Abteilung{left:5177px;}
td.Unterreich{left:5293px;}
td.Reich{left:5409px;}
td.Domäne{left:5525px;}



td input{
	display: inline-block;
	width: 100%;
	height: 18px;
	margin: 0;
	padding: 0;
}

td input.num{	text-align: center;}

td input:focus:not(.num){
	position: relative;
	z-index: 3;
	width: 300px;
	max-width: 90vw;
	text-align: left;
}

td input.BildInfo:focus, td input.Merkmale:focus, td input.Info:focus{
	width: 1000px;
}

.rowfocused{
	border:2px solid #99ccff;
	border-radius: 3px;
}

.tiertable tr:not(.headtrace){
	display: table-row;
	height: 23px;
}

button, .fileinput{
	background-color: #f2f2f2;
	border: 1px solid #333;
	border-radius: 2px;
}

button:hover {
	background-color: 	#bfbfbf;
}

.dabuttons {
	display:block;
	width: 27px;
	height: 11px;
	padding-left: 8px;
	padding-right: 8px;
	background-repeat: no-repeat;
	background-position: center; 
}

.delbutton {
	background-image: url("graphics/del_button.svg");
}
.addbutton {
	background-image: url("graphics/add_button.svg");
}

.popup{
	display: none; 
    position: fixed; 
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.popup-content{
	background-color: #fefefe;
    margin: 5% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
	padding: 5px;
    border: 2px solid #888;
	border-radius:10px;
    width: 55%; 
	text-align: justify;
}

.popup-content a{
	text-decoration: none;
}

.popup-content h4{
	margin-top: 1em;
	margin-bottom: 0.3em;
}

.popup-content p{
	margin: 0.3em 0;
}

.close {
    position: relative;
    float: right;
    top: 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 0px 4px;
}

.antworttext{
	margin-top: 15px;
	margin-bottom: 5px;
	border-collapse:collapse;

}


.antworttext td{
	vertical-align: top;
	border-bottom: 1px solid #d9d9d9;
	padding: 5px 2px;
}

.close:hover,
.close:focus {
    color: #bfbfbf;
    cursor: pointer;
}

.rof {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.rof p {
	padding-top: 12px;
	margin-bottom: 0px;
	border-top: 1px solid #888;
}

.rofbutton{
	margin: 5px;
}

.HMain{
	font-size:1em;
	margin: 1em;
	margin-top: 40px;
}

.toc{
	font-size:0.875em;
	position: fixed;
	width: 225px;
	padding: 7px;
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	overflow-y: scroll;
	top: 40px;
	bottom: 20px;
}

.toc i {
	display: none;
}

.toc h5{
	font-size: 1.1em;
	padding: 0;
	font-weight: bold;
	margin: 0;
	margin-bottom: 0.4em;
	overflow: hidden;
}

.toc ol{
	font-weight: normal;
	text-align: left;
	margin: 0.3em 0;
	padding-left: 17px;
}

.toc li{
	padding: 2px 0px;
}

.toc .Ptoclist {
	list-style-type: upper-roman;
}

.ptoclistitem {
	font-style: italic;
}

.HMain a{
	text-decoration: none;
}

.HMain p{
	margin: 0.3em 0;
	text-align: justify;
	line-height: 1.4em;
}

.Htext{
	position: static;
	margin-left: 280px;
	margin-right: 1.3em;
}

.Htext h4{
	margin-top: 1.5em;
	margin-bottom: 0.3em;
}

:target{
	color: #B22222;
}

:target::before{
	content: "";
	display: block;
	padding-top: 40px;
	margin-top:-40px;
}

.HelpImg{
	display: block;
	margin: 1em auto;
	max-width: 353px;
}

.HTable{
	display: table;
	margin: 1em auto;
	border-collapse: collapse;
	font-size: 1em;
}

.HTable th{
	width: auto;
	padding: 0.5em;
	border-bottom: 2px solid #8c8c8c;
}

.HTable td{
	border: 1px solid #d9d9d9;
	padding: 0.5em;
}

.HTable td.fc {
	text-align: center;
}

.Hdabuttons{
	display: inline-block;
	position: relative;
	bottom: 0.5em;
}

.boldspan{
	font-weight: bold;
	font-size: 0.9em;
}

#Topbutton{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 30px;
	text-align: center;
	z-index: 4;
	background-color: hsla(0, 0%, 100%, 0.9);
	color: black;
	cursor: pointer;
	border-radius: 5px;
	font-size: 3em;
	text-decoration: none;
}


/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 31px;
    height: 3px;
    background-color: #f2f2f2;
	margin: 4px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
    transform: rotate(-45deg) translate(-5px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-5px, -5px) ;
}


 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 990px) {
	

	.navbar li:not(.show){display: none;}
  
  .navbar li.icon {
    display: block;
	padding-top: 3px;
	padding-bottom: 3px;
  }
  
  .navbar li:not(.icon){
	padding-top: 7px;
	padding-bottom: 7px;
  }
  
  .navbar *{
	border: 0px;
  }
  
	#Submit, #Kontakt{
	
		border-left: 0px;
	}
	
	.main{
		margin-top:34px;
	}

}	
@media screen and (max-width: 650px) {	
	
	.Hmain{
		margin: 0.5em;
		margin-top: 50px;
		font-size:0.875em;
	}
	
	.toc{
		display: table;
		position: relative;
		height: auto;
		width: auto;
		margin-bottom: 0;
		top: initial;
		bottom: initial;
		font-size: 1.2em;
	}
	
	.toc .arrow {
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		margin-right: 13px;
		margin-left: 7px;
		transition: 0.4s;
	}
	
	.arrow.arrowchange{
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	
	.toc .Ptoclist{
		margin-left: 25px;
	}

	.toc li{
		padding: 2px 0px;
	}


	.HMain p{
		line-height: 1.1em;
	}

	.Htext{
		display: block;
		position: relative;
		margin: initial;
		width: initial;
	}

	.Htext h4{
		margin-top: 1.5em;
		margin-bottom: 0.3em;
	}
	
	.HTable{
		font-size: 0.875em;
	}

	.HTable th, .HTable td{
		padding: 0.2em;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 990px) {
  
	#popup-content{
		margin: 3% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
		width: 95%; /* Could be more or less, depending on screen size */
	}
  
  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  
  .navbar.responsive a {
	display: block;
	text-align:left;
  }
  
  .navbar.responsive li:first-child, .navbar.responsive li:nth-child(2){
	border-bottom: 1px solid #ddd;
  }
  
  .navbar.responsive li:last-child{
	border-top: 1px solid #ddd;
  }
  
} 

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .IE {
       display: block;
	   margin-top: 30px;
	   font-size: 1.5em;
   }
   .main {
		display: none;
   }
}