body {
	font-family: "Arial", Helvetica, sans-serif; 
	font-size: 1em;
}

.navbar {
	list-style-type: none;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
	margin-top: 0px;
	margin-left: -8px;
	padding: 0;
	display: block;
	z-index: 5;
}

li {
    float: left;
}

li a, .dropbtn, .newlist, .dellist{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

li a{
	border-right: 1px solid #ddd;
}

#Submit, #Kontakt{
	
	border-left: 1px solid #ddd;
}

.dellist{
    background:#333;
    padding: 1px 3px;
}

.navbar li:hover{
    background: #ddd;
    color: black;
}
.navbar li *:hover{
	color: black;
}

.navbar a:hover{
	cursor: pointer;
}

th:hover{
	cursor: pointer; /*n-resize*/
}

.navbar .dropbtn:hover, .navbar .newlist:hover {
	cursor: context-menu;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content input {
    color: black;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
    text-align: left;
	font-size: 13px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
#searchfield:focus .dropdown-content {
    display: block;
}

.main {
	display: block;
    margin-top: 22px;
	margin-bottom: -16px;
} 


#bildinfo{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
	bottom: 19px;
	font-size: 13px;
	background-color: hsla(0, 0%, 100%, 0.45);
	padding-bottom: 1px;
	padding-top: 1px;
	border: 1px solid;
	border-color: grey;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	display: none;	
}

#bild {
	display: none;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

#loadsymbol{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#number {
	position: fixed; /*fixed*/
	bottom: 2px;
	right: 2px;
	font-size: 10px;
	background-color: hsla(0, 0%, 100%, 0.5);
	padding-left: 2px;
	padding-right: 2px;
}

table{
	display: block;
}
thead{
	display: block;
	position: sticky;
	top:22px;
	text-align: center;
	width: 3771px;
	background-color:white;
	border-bottom: 2px solid #a6a6a6;
}
th { 
	border: 1px solid #ddd;
	width: 144px;
}
.thnormal{width: 144px; border: 1px solid #ddd;}
.thbutton{width:28px; border: none;}
.thid{width: 38px;}
.thart{width: 326px;}
.thgruppe{font-size: 80%;}
.thmerkmale{width:925px;}
.thlink{width:924px;}


tbody, thead tr {
	display: block;
	table-layout: fixed;
}
input.Gattung, input.Unterfamilie, input.Familie, input.Unterordnung, input.Ordnung, input.Klasse, input.Stamm, input.Gruppe, input.BildLink, input.BildInfo{
    width: 140px;
}
input.num{
	width: 35px;
	text-align: center;
}
input.Art{
	width: 322px;
}
input.Merkmale, input.Link {
	width: 921px;
}

button, .fileinput{
	background-color: #f2f2f2;
	border: 1px solid #333;
	border-radius: 2px;
}

button:hover {
	background-color: 	#bfbfbf;
}

.dabuttons {
	display:block;
	width: 27px;
	height: 11px;
	padding-left: 8px;
	padding-right: 8px;
	background-repeat: no-repeat;
	background-position: center; 
}

#delbutton {
	background-image: url("graphics/del_button.svg");
}
#addbutton {
	background-image: url("graphics/add_button.svg");
}

#popup{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

#popup-content{
	background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    position: relative;
	right: 7px;
    float: right;
    top: 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.antworttext{
	margin: 15px;
}

.close:hover,
.close:focus {
    color: #bfbfbf;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.3s;
    animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#dellist {
	font-weight: bold;
	display: inline-block;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
	border-left: 1px solid #ddd;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 31px;
    height: 3px;
    background-color: #f2f2f2;
	margin: 4px 0;
    transition: 0.4s;
}

#icon:hover  > .bar1{
	background-color: black;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
    transform: rotate(-45deg) translate(-5px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-5px, -5px) ;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 875px) {
  .navbar li:not(:first-child) {display: none;}
  
  .navbar li.icon {
    float: right;
    display: block;
	padding-top: 3px;
	padding-bottom: 3px;
  }
  
  .navbar li:not(.icon){
	padding-top: 7px;
	padding-bottom: 7px;
  }
  
  .navbar *{
	border: 0px;
  }
  
	#Submit, #Kontakt{
	
		border-left: 0px;
	}
  
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 875px) {
  .navbar.responsive {
	}
  
  .navbar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  
  .navbar.responsive a {
	display: block;
	text-align:left;
  }
  
  .navbar.responsive li:first-child{
	border-bottom: 1px solid #ddd;
  }
  
  .navbar.responsive li:nth-last-child(2){
	border-top: 1px solid #ddd;
  }
  
} 